@import url("style.css");
* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.tabela{
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Opicional: para espaçamento */
}

table {
    border-collapse: collapse;
    width: 80%; /* Defina a largura que desejar */
    border: 1px solid #ccc;
    margin-left: 160px;
}
h1 {
    
    text-align: center;
    color: #333;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color:#76B39D; 
    color: #F9F8EB;
    
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.formulario{
    margin-left: 160px;
}

.abacate {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divide a linha em duas colunas iguais */
    gap: 10px; 
}