@font-face {
  font-family: FuturistStencil;
  src: url("../fonts/FUTRST.TTF");
}

body {
  background: #F9F8EB;
}

.grid-container {
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100% ;
    width: 20%;
    margin: 0 auto;
    gap: 20px;
    box-sizing: content-box;
    width: 40%;
    border-radius: 10px;
    justify-content: center;
  } 
  
  figure {
      margin: 0;
      padding: 0;
      background: #fff;
      overflow: hidden;
      position: relative;
     }
  figure:item+span {
      bottom: -36px;
      opacity: 1;
    }
  
  .item figure img {
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
  
  .item figure:hover img {
      transform: scale(0.8);
      filter: blur(10px);
    }
    h1{
      border-radius: 11px;
      border-style: solid;
      background-color: #383838;
      color:#76B39D;
      font-family: "FuturistStencil";
      margin-right: 40%;
      margin-left: 40% ;
      margin-top: 4% ;
    }
  
    .item img{
      width: 225px;
      height: 225px;
    }

    .item-price{
      font-size: 22px;
      font-weight: bolder;
    }
    .item-title{
      font-size: large;
    }
    
    figure .botao-comprar {
      position: absolute;
      top:28%;
      left: 28%;
      opacity:0;
    }

    .botao-comprar:hover{
      background-color: #383838;
      color: #76B39D ;
    }

    figure:hover>.botao-comprar{
      opacity: 1.0;
      transition: 0.1s;
    }

    
    .botao-comprar{
      border-radius: 10px;
      border-color: #383838;
      border-style: solid;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      font-family:'Times New Roman', Times, serif;
      color: #76B39D;
      font-weight:bolder;
    }

    a{
      text-decoration: none;
    }
