@import url("style.css");

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial;
    background-color: #F9F8EB;
    margin: 0;
    padding: 0;
    display: grid;
    padding-top: 40px;
}

table {
    border-collapse: collapse;
    border: 1px solid #ffffff;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #383838;
    
}

h2 {
    text-align: left;
    color: #383838;
}

tr{
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1.5s forwards;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    transition: transform 0.3s ease;
}

th, td:hover{
    transform: scale(1.05); 
}

th {
    background-color:#76B39D; 
    color: #F9F8EB;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}

main {
    margin: 4% 200px;
}

form{
    margin-top: 15px;
}

.botao {
    padding: 20px 40px;
    font-size: 24px;
    color: #fff;
    background-color: #76B39D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    transition: transform 0.3s ease;
}

.botao:hover{
    background-color: #476b5e;
    transform: scale(1.05);
}

input{
    padding: 15px;
    font-size: 18px;
    border: 2px solid #76B39D;
    border-radius: 5px;
}

textarea{
    border: 2px solid #76B39D;
    border-radius: 5px;
    width: 100%;
    
    font-size: 18px;
}

label{
    transition: transform 0.3s ease;
}

label:hover{
    transform: scale(1.05);
}

select{
    border: 2px solid #76B39D;
    border-radius: 5px;
    font-size: 18px;
}