@import url("style.css");

* {
    margin: 0;
    padding: 0;
}

@media (max-width: 1600px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    }

body{
    background-color: var(--color-white);
}

main{
    margin: 4% 200px;
}

.container{
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
}

.loja_img {
    gap: 1em;
    justify-content: center;
}

.txt_div1{
    top: 0;
    width: 525px;
    padding-top: 50px;
}

.img_div1{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 863px;
    width: 551px;
}

.img_div2{
    justify-content: space-around;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.img1{
    position: absolute;
    object-fit: cover;
    height: 367px;
    width: 367px;
    box-shadow: 2px 2px 5px var(--color-gray);
    transition: transform .5s;
    top: 0px;    
}

.img2{
    position: absolute;
    object-fit: cover;
    height: 367px;
    width: 367px;
    box-shadow: 2px 2px 5px var(--color-gray);
    transition: transform .5s;
    top: 250px;
    object-position: right;
    left: 184px;
}

.img3{
    position: absolute;
    object-fit: cover;
    height: 367px;
    width: 367px;
    box-shadow: 2px 2px 5px var(--color-gray);
    transition: transform .5s;
    top: 496px;
    object-position: left;
}

.img4{
    object-fit: cover;
    height: 350px;
    width: 550px;
    box-shadow: 2px 2px 5px var(--color-gray);
    transition: transform .5s;
}

.img5{
    object-fit: cover;
    height: 350px;
    width: 550px;
    box-shadow: 2px 2px 5px var(--color-gray);
    transition: transform .5s;
}

img:hover{
    z-index: 2;
    transform: scale(1.05);
}

.center_text{
    text-align: center;
    margin-top: 100px;
}

.tittle{
    padding-bottom: 10px;
}

.txt_loja{
    padding-top: 10px;
}
