@font-face {
  font-family: FuturistStencil;
  src: url("../fonts/FUTRST.TTF");
}

.grid-container {
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto ;
    width: 20%;
    margin: 0 auto;
    gap: 20px;
    box-sizing: content-box;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }
  
  .item{
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.13);
    }
  
  
  figure {
      margin: 0;
      padding: 0;
      background: #fff;
      overflow: hidden;
     }
  figure:item+span {
      bottom: -36px;
      opacity: 1;
    }
  
  .item figure img {
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }
  
  .item figure:hover img {
      transform: scale(0.8);
    }
    h1{
      font-family: "FuturistStencil";
    }
  
    .item img{
      object-fit: cover;
      width: 100%;
    }
