@import url("style.css");

* {
    margin: 0;
    padding: 0;
}

footer,
.header-nav {
    background: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-nav {
    box-shadow: 0 2px 4px var(--color-gray);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: .5em;
}

.logo .img {
    color: var(--color-green);
    font-size: 3.5rem;
}

.logo h1 {
    font-family: var(--font-logo);
    color: var(--color-white);
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 1vw;
    font-size: 1.25rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
}

a {
    transition: all .2s;
    text-decoration: none;
}

.menu ul li .link {
    color: var(--color-white);
}

.menu ul li .link:hover {
    color: var(--color-green);
    text-decoration: underline;
}

.menu ul li .cart {
    background: var(--color-white);
    color: var(--color-gray);
    display: flex;
    padding: .25em;
    border-radius: 50%;   
}

.menu ul li .cart:hover {
    text-decoration: none;
    background: var(--color-green);
}

footer {
    padding-top: 1em;
    padding-bottom: 5em;
    box-shadow: 0 -2px 4px var(--color-gray);
}

.contacts {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contacts ul {
    list-style: none;
}

.contacts ul li {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: .3em;
    margin-bottom: .4em;
}

.contacts ul .icon {
    font-size: .9rem;
    color: var(--color-green);
}

.contacts, .location {
    gap: .5em;
}

.location {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.location ul {
    list-style: none;
}

.location ul li {
    margin-bottom: .4em;
}

.location ul li a {
    color: var(--color-white);
}

footer .logo {
    flex-direction: column;
    gap: 0;
}